.app-header {
  background-color: #282c34;
  padding: 20px;
  color: white;
  text-align: center;
}

.app-header nav a {
  margin: 0 15px;
  color: #61dafb;
  text-decoration: none;
}

.app-header nav a:hover {
  text-decoration: underline;
}